body{
    background-color: gray;
    position: relative;
    height: 2000px;
    width: 1500px;
    background-image: url(./img/peakpx.jpg) ;
  background-size: cover;
}
.contain{
/* position: relative; */
  /* background-color: aqua; */
  height: 100%;
  width: 95%;
  border: 2px solid yellowgreen;
  
}
header{
    background-color: rgba(208, 218, 93, 0.098);
    width: 95%;
    height: 80px;
    margin: auto;
    text-align: center;
  font-size: 48px;
  font-family: 'Bungee Shade';
align-items: center;
justify-content: center;
color: gray;
border-radius: 50px;
display: flex;

/* position: sticky;
top: 0;
left: 0; */
border: 2px solid red;
}
.isim{
  text-shadow:2.5px 2.5px rgb(246, 210, 6);
  

}
.izah{
  font-family:Georgia, 'Times New Roman', Times, seri2;
  font-size: 60px;
  text-shadow:2px 2px rgb(246, 210, 6);
  color:crimson ;
  position:absolute;
/* z-index: 0; */
border: 2px solid red;

}
ul{
  /* background-color: rebeccapurple; */
  list-style-type: none;
  display: flex;
  padding: 1rem;
  gap:1rem;
  justify-content: center;
  border-radius: 25px;
  border: 2px solid rgb(89, 255, 0);
 
 
 
 
}
ul *{
  background-color: fuchsia;
  height: 0.6rem;
  box-shadow: 10px 10px 10px yellow;
  display: flex;
  align-items: center;
  position: sticky;
  left: 0;
 
  
  
  

 

}
ul li{
  border-radius: 14px ;
  border: 3px solid grey;
  padding: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:xx-large;
 
  
  
 
}
.li1{
  padding: 1rem;
  box-shadow: 10px black;
 
  
  
 
}
.li2{
  padding: 1rem;
 
}
.li3{
  padding: 1rem;
}
.li4{
  padding: 1rem;
}
main{
  /* background-color: chartreuse; */
 
  padding: 0;

  position: sticky;
  top: 0;


}
.project{
  display: flex;
  background-color: brown;
  border: 2px solid red;
  justify-content: center;
}
